rembg>=2.0.62
PyYAML==6.0.1
cython==0.29.36
pytz==2023.3
streamlit>=1.22.0
opencv-contrib-python-headless==4.8.0.76
rembg>=2.0.62
pillow==9.5.0
pygments==2.19.2
markdown-it-py==3.0.0
mdurl==0.1.2
rich==14.0.0
numpy==1.24.3
pandas==1.5.3
scikit-learn==1.2.2
onnxruntime==1.14.1
pip>=24.0
setuptools>=67.0
wheel>=0.38